DirectoryIndex index.php
Options -Indexes

<FilesMatch "(\.inc|private|db.php|utils.php)">
order allow,deny
deny from all
</FilesMatch>


# Compress/gzip html, XML, css and js and fonts and CSV
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript application/javascript font/ttf application/octet-stream
</IfModule>


# Add a far future Expires header to .gif, .jpg, .css and .js.
# TODO - Need to add a versioning system to resource URLs to make them cacheable.
<FilesMatch "\.(png|gif|jpg|js|css|ico)$">
ExpiresActive On
ExpiresDefault "access plus 1 week"
Header set ETag ""
</FilesMatch>

# 2K daily hits on results.php
deny from 89.45.194.39
deny from 89.45.194.40
# 500 daily hits on results.php
deny from 188.215.55.218
deny from 206.217.139.154
